/*************************************** INCEPUT NAVBAR *****************************************/
@font-face{
	src: url(../fonts/Poppins-Regular.otf);
	font-family: poppins-regular;
}
@font-face{
	src: url(../fonts/MATURASC.TTF);
	font-family: matura;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.col-3 h1{
  font-family: matura;
  color:#4DF0DA;
  font-size: 55px;
  padding-top: 35px;
  padding-left: 30px;
}

.contentLogo{
  display: flex;
  padding: 40px;
  flex-direction: row;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2732;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4DF0DA;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}
@media screen and (min-width: 961px) {
  #iconita{
    display: none;
  }
}
@media screen and (max-width: 961px) {
  #main{
    left: 0;
    margin-left: 0px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.col-3{
  height: 100%;
  background-color: #1F2732;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  margin :0;

}
.col-9{
    position: absolute;
    right: 0;
}
.col-3 ul{
  color: #4DF0DA;
  font-size: 30px;
  padding: 50px;
 
}
.logo{

padding: 15px;
}

@media only screen and (min-width: 960px) {
    .sidenavbar{
        display: none;
    }
    #breton{
      display: none;
    }
}
@media only screen and (max-width: 1300px) {
  .contentLogo{
    flex-direction: column;
  }

}

@media only screen and (min-width: 1651px) {
  
  .col-3 ul{
    font-size: 35px;
  }
  
  .contentLogo img{
      width: 150px;
      height: 150px;
  }
  
  .col-3 h1{
    font-size: 70px;
  }
  
 
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {

.col-3 h1{
font-size: 45px;
}
.col-3 ul{
  font-size: 25px;
  }
}


.breton{
  padding-left: 7px;
  display: flex;
  width: 100%;
  background-color:#4DF0DA;
}


.breton h1 {
  font-size: 30px;
  margin: auto;
  color:#1F2732 ;
  margin-top: 5px;
}
/*************************************** SFARSIT NAVBAR *****************************************/
.backgroundSquare{
  display: flex;
}
.gridContinutAutori{
  position: absolute;
}

.pinkSquare{
  margin-left: 100px;
  height: 500px;
  width: 250px;
  background-color: #FBD7D7;
}

.purpleSquare{
  margin-top: 500px;
  height: 60px;
  width: 400px;
  background-color: #D7D7FB;
}

.greenSquare{
  margin-top: 285px;
  height: 215px;
  width: 500px;
  background-color: #D7FBF6;
}

.yellowSquare{
  margin: 0 auto;
  margin-top: 180px;
  height: 200px;
  width: 700px;
  background-color: #FEF2C5;
}
.containerAutor1{
  padding: 150px 150px 0;
  display: flex;
}
.containerAutor1 p{
  text-align: center;
  padding: 50px;
  font-size: 25px;
  margin-left: 200px;
  font-family: poppins-regular;
}
.continutNume{
  position: absolute;
}

.continutNume p{
  color: #1F2732;
  font-family: poppins-regular;
  font-size: 45px;
}


@media only screen and (max-width: 1600px) {
  .containerAutor1{
    flex-direction: column;
  }
  .containerAutor1 p{
    margin-left: 0;
  }
  #numeContainer{
    margin-left: 200px;
  }
  .containerAutor1{
    padding: 150px 80px 0;
  }
}


@media only screen and (max-width: 700px) {
  .continutNume{
  }
  .containerAutor1{
    padding: 150px 0 0;
  }
  .imagineContainer, .continutNume{
    margin-left: 200px;
  }
  .imagineContainer, .continutNume{
    margin: 0 auto;
  }

  .continutNume{
    margin-left: 100px;
  }
  .backgroundSquare{
    display: none;
  }

  .yellowSquare{
    width: 200px;
    background-color: white;
  }
}



