/*************************************** INCEPUT NAVBAR *****************************************/
@font-face{
	src: url(../fonts/Poppins-Regular.otf);
	font-family: poppins-regular;
}
@font-face{
	src: url(../fonts/MATURASC.TTF);
	font-family: matura;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.col-3 h1{
  font-family: matura;
  color:#4DF0DA;
  font-size: 55px;
  padding-top: 35px;
  padding-left: 30px;
}

.contentLogo{
  display: flex;
  padding: 40px;
  flex-direction: row;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2732;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4DF0DA;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}
@media screen and (min-width: 961px) {
  #iconita{
    display: none;
  }
}
@media screen and (max-width: 961px) {
  #main{
    left: 0;
    margin-left: 0px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.col-3{
  height: 100%;
  background-color: #1F2732;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  margin :0;

}
.col-9{
    position: absolute;
    right: 0;
  }
.col-3 ul{
  color: #4DF0DA;
  font-size: 30px;
  padding: 50px;
 
}
.logo{

padding: 15px;
}

@media only screen and (min-width: 960px) {
    .sidenavbar{
        display: none;
    }
    #breton{
      display: none;
    }
}
@media only screen and (max-width: 1300px) {
  .contentLogo{
    flex-direction: column;
  }

  
}

@media only screen and (min-width: 1651px) {
  
  .col-3 ul{
    font-size: 35px;
  }
  
  .contentLogo img{
      width: 150px;
      height: 150px;
  }
  
  .col-3 h1{
    font-size: 70px;
  }
  .col-8 p{
    font-size: 20px;
  }
  .col-8 h1{
    font-size: 50px;
  }
  .colst p{
    font-size: 18px;
  }
 
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {

.col-3 h1{
font-size: 45px;
}
.col-3 ul{
  font-size: 25px;
  }
}


.breton{
  padding-left: 7px;
  display: flex;
  width: 100%;
  background-color:#4DF0DA;
}


.breton h1 {
  font-size: 30px;
  margin: auto;
  color:#1F2732 ;
  margin-top: 5px;
}
/*************************************** SFARSIT NAVBAR *****************************************/
.headimg{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;

}
.col-8{
  padding-left: 70px;
  padding-top: 40px;
}
.col-4{
  padding-left: 70px;
  padding-top: 40px;
}
.headrecent{
  background-color:#1F2732 ; 
  padding: 2px;
  color: white;
  text-align: center;
  font-weight: 400;
  border-bottom:4px solid #4DF0DA;
}
.colst{
  margin: 0 auto;
  width: 80%;
}
.colst p {
  margin-bottom: 10px;
}
.headalte{
  margin-top: 50px;
  background-color:#1F2732 ; 
  padding: 2px;
  color: white;
  text-align: center;
  font-weight: 400;
  border-bottom: 4px solid #4DF0DA;
}


@media only screen and (max-width: 840px) {
  .col-8 {
    padding-left: 50px;
    padding-right: 50px;
  }
}


.boxContinutComentarii{
  width: 100%;
  padding: 50px 0px;
}

.boxContinutComentarii hr{
  margin-bottom: 50px;
}

.listaComentarii{
  padding: 40px;
}

.boxImgScrisAutor{
  display: flex;
  padding-bottom: 15px;
}

.boxImgScrisAutor img{
  margin-right: 20px;
}

.boxAperciereArticol{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.boxAperciereArticol h1{
  font-size: 40px;
  font-weight: 500;
}
.boxAperciereArticol button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-radius: none;
  color: white;
  background-color:#4DF0DA ;
  border: none;
  padding-top: 7px;
  margin-left: 20px;
  cursor: pointer;
}
.inputAddComentarii h2{
  font-weight: 500;
  padding-bottom: 12px;
}

.inputAddComentarii textarea{
  width: 100%;
  height: 130px;
  font-size: 18px;
  font-weight: 600;
  /* background-color: #FAFAFA; */
  padding: 10px;
}

.inputAddComentarii input{
  padding: 5px;
}


.inputBoxComentariu{
  display: flex;
}
.inputBoxComentariu input{
  width: 100%;
  margin-top: 5px;
  /* background-color: #FAFAFA; */
  border: 1px solid #767676;
}

.inputAddComentarii button{
  background-color: #1F2732;
  color: white;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.inputAddComentarii button:hover{
  box-shadow: inset 0 0 0 2px #4DF0DA;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

.fe-pulse-w-pause {
  animation-name: pulse;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}
.fe-pulse-w-pause:hover,
.fe-pulse-w-pause:focus {
  animation-name: unset;
}
.inputBoxComentariu label{
  width: 360px; margin-top: 10px;
}
@media only screen and (max-width: 1280px) {
  .inputBoxComentariu label{
    margin-top: 0;
    width: 70px;
    padding-right: 10px;
  }
}
