@font-face{
	src: url(../fonts/MATURASC.TTF);
	font-family: matura;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.col-3 h1{
  font-family: matura;
  color:#4DF0DA;
  font-size: 55px;
  padding-top: 35px;
  padding-left: 30px;
}

.contentLogo{
  display: flex;
  padding: 40px;
  flex-direction: row;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2732;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4DF0DA;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}
@media screen and (min-width: 961px) {
  #iconita{
    display: none;
  }
}
@media screen and (max-width: 961px) {
  #main{
    padding: 16px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.col-3{
  height: 100%;
  background-color: #1F2732;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  margin :0;

}
.col-9{
    position: absolute;
    right: 0;
}
.col-3 ul{
  color: #4DF0DA;
  font-size: 30px;
  padding: 50px;
 
}
.logo{

padding: 15px;
}

.articolContinut{
  width: 400px; height: 250px; 
  background-color: rgba(0, 0, 0, 0.6); 
  margin-top: 50px; 
  margin-left: 250px;
  padding: 15px;
}
.articolContinut h1{
  color: white;
}
.articolContinut p{
  color: white;
  font-size: 20px;
}

@media only screen and (min-width: 960px) {
    .sidenavbar{
        display: none;
    }
 
}
@media only screen and (max-width: 1300px) {
  .contentLogo{
    flex-direction: column;
  }

}